<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 mt-5 ml-5">
      <h5 class="ml-4">絞り込み検索<i class="fas fa-search-plus"></i></h5>
      <%= render 'searches/search_form', q: @q %>
    </div>

    <div class="col-md-5 mt-5">
      <h2>投稿詳細</h2>
      <div id="article_<%= @article.id %>" >
      <%= image_tag @article.get_image("400x600") %>
      <% if user_signed_in? %>
      <div class="favorite-btn">
        <%= render "favorites/favorite_btn", article: @article %>
      </div>
      <% end %>
      <p>投稿者：<%= link_to @article.user.nickname, user_path(@article.user.id) %></p>
      <p>タイトル：<%= @article.title %></p>
      <p>状況：<%= @article.status_i18n %></p>
      <p>迷子になった・保護した日：<%= @article.date %></p>
      <p>対象の都道府県：<%= @article.prefecture %></p>
      <p>迷子になった・保護した場所(詳細)：<%= @article.place %></p>

        <!--地図を投稿しなかった場合、lat・lngの両カラムに０が入るのでその場合は地図を表示しない-->
        <!--緯度・経度０の地点は大西洋(ギニア近く)の上なので投稿される可能性無し-->
        <% if !@article.lat.to_i.zero? and !@article.lng.to_i.zero? %>
        <div id='map'></div>
          <p>※地図上の円は半径500mの範囲です</p>
          <p>【参考】<br>
          犬の１日の移動距離は約300ｍ～１km程度です。<br>
          室内飼いの猫の場合は半径50ｍ以内にいることが多いようです。</p>
        <% end %>

      <p>動物の分類：<%= @article.animal_type %></p>
      <p>動物の種類：<%= @article.animal_breed %></p>
      <p>対象動物の性別：<%= @article.animal_sex_i18n %></p>
      <p>動物の年齢(およそ)：<%= @article.animal_age %></p>
      <p>説明：<%= @article.introduction %></p>
      <p>投稿日時：<%= @article.created_at.strftime('%Y/%m/%d') %></p>

      <% if @article.user == current_user %>
        <%= link_to "編集", edit_article_path(@article),class: "btn btn-success" %>
        <%= link_to "削除", article_path(@article), method: :delete, class: "btn btn-danger", data: { confirm: '投稿記事を削除します。よろしいですか？' } %>
      <% end %>


      <h2 class="mt-5">コメント</h2>
      <div class="mt-2 mb-5">
      <%= render 'post_comments/index' , article: @article %>
      <%= render 'post_comments/form' , article: @article, post_comment: @post_comment %>
      </div>
      <div class="mt-2 mb-5">
        <%= link_to "記事一覧へ", articles_path, class: "btn btn-outline-secondary" %>
      </div>
    </div>
    </div>
  </div>
</div>




<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap" async defer></script>

<style>
  #map {
    height: 400px;
    width: 600px;
  }
  </style>

  <script>
    let map

    function initMap(){
      geocoder = new google.maps.Geocoder()
      var post_map ={lat: <%= @article.lat %>, lng: <%= @article.lng %>};

      map = new google.maps.Map(document.getElementById('map'), {
        center: post_map,
        zoom: 15,
      });

      var contentString = '住所：<%= @article.place %>';
      var infowindow = new google.maps.InfoWindow({
        content: contentString
      });

      circle = new google.maps.Circle({
        position:  post_map,
        map: map,
        center: {lat: <%= @article.lat %>, lng: <%= @article.lng %>},
        radius: 500,
      });
    }
  </script>

