<h2>投稿詳細</h2>
<div id="article_<%= @article.id %>" >
  <%= image_tag @article.get_image("400x400") %>
  <div class="faborite-btn">
    <%= render "favorites/favorite_btn", article: @article %>
  </div>
  <p>タイトル：<%= @article.title %></p>
  <p>状況：<%= @article.status %></p>
  <p>迷子になった・保護した日：<%= @article.date %></p>
  <p>対象の都道府県：<%= @article.prefecture %></p>
  <p>迷子になった・保護した場所(詳細)：<%= @article.place %></p>
  <p>動物の分類：<%= @article.animal_type %></p>
  <p>動物の種類：<%= @article.animal_breed %></p>
  <p>対象動物の性別：<%= @article.animal_sex_i18n %></p>
  <p>動物の年齢(およそ)：<%= @article.animal_age %></p>
  <p>説明：<%= @article.introduction %></p>
  <p>投稿日時：<%= @article.created_at.strftime('%Y/%m/%d') %></p>

  <% if @article.user == current_user %>
    <%= link_to "編集", edit_article_path(@article)%>
    <%= link_to "削除", article_path(@article), method: :delete %>
  <% end %>

  
  <h2>コメント</h2>
  <%= render 'post_comments/index' , article: @article %>
  <%= render 'post_comments/form' , article: @article, post_comment: @post_comment %>

</div>