<table class="table table-borderless">
  <tbody>
    <% article.post_comments.includes([:user]).each do |post_comment| %>
    <tr>
      <td >
        <%= link_to user_path(post_comment.user) do%>
          <%= image_tag post_comment.user.get_image(100,100), class: "rounded-circle" %>
       <% end %>
      </td>
      <td class="align-middle">
        <%= post_comment.user.nickname %>
      </td>
      <td class="align-middle">
        <%= post_comment.comment %>
      </td>
      <td class="align-middle">
        <%= post_comment.created_at.strftime('%Y/%m/%d') %>
      </td>
      <td class="align-middle">
        <!--ログインユーザーが投稿したコメントであれば削除ボタンを表示-->
        <% if post_comment.user == current_user %>
          <%= link_to "削除", article_post_comment_path(post_comment.article, post_comment), method: :delete, class: "btn btn-outline-danger" %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>