<table>
  <tbody>
    <% article.post_comments.each do |post_comment| %>
    <tr>
      <td>
        <%= link_to(post_comment.user) do%>
          <%= image_tag post_comment.user.get_image("100x100") %>
          <p class="text-center"><%= post_comment.user.name %></p>
       <% end %>
      </td>
      <td>
        <%= post_comment.comment %>
      </td>
      <td>
        <!--ログインユーザーが投稿したコメントであれば削除ボタンを表示-->
        <% if post_comment.user == current_user %>
          <%= link_to "削除", article_post_comment_path(post_comment.article, post_comment), method: :delete, class: "btn btn-outline-danger" %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>