<h1>会員情報変更</h1>
<%= form_with model: @user, url: user_registration_path do |f| %>

  <div class="form-group">
    <%= f.label :お名前or施設名称 %><br>
    <%= f.text_field :name, class: 'form-control user-name' %>
  </div>

  <div class="form-group">
    <%= f.label :お名前or施設名称（カナ） %><br>
    <%= f.text_field :name_kana, class: 'form-control user-name-kana' %>
  </div>

  <div class="form-group">
    <%= f.label :メールアドレス %><br />
    <%= f.email_field :email, autocomplete: "email", class: 'form-control user-email' %>
  </div>

  <div class="form-group">
    <%= f.label :電話番号（ハイフンなし） %><br>
    <%= f.text_field :telephone_number, class: 'form-control user-telephone-number' %>
  </div>

  <div class="form-group">
    <%= f.label :住所 %><br>
    <%= f.text_field :address, class: 'form-control user-address' %>
  </div>

  <div class="form-group">
    <%= f.label :パスワード %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> 文字以上)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", class: 'form-control user-password' %>
  </div>

  <div class="form-group">
    <%= f.label :パスワード（確認用） %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control user-password-confirmation' %>
  </div>

  <div class="form-group">
    <%= f.submit "変更" %>
  </div>
<% end %>