<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 mt-5 mb-5 d-flex justify-content-center">
      <h4>保護施設詳細</h4>
    </div>
      <div class="col-md-5 mb-5 d-flex align-items-center justify-content-center">
          <%= image_tag @user.get_image(200,200), class: "rounded-circle" %>
      </div>
      <div class="col-md-7">
        <p>施設名称：<%= @user.name %></p>
        <p>施設名称(カナ)：<%= @user.name_kana %></p>
        <p>施設住所：<%= @user.address %></p>
        <p>サイト登録日<%= @user.created_at.strftime('%Y/%m/%d') %></p>
      </div>
      
      <div class="col-md-12 mb-5 d-flex justify-content-center">
        <%= link_to "詳細", user_path(@user), class: "btn btn-sm btn-info" %>
      </div>

    </div>


  </div>
</div>
