<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 mt-5 mb-5 offset-md-4">
      
      <div class="ml-5 mb-3">
      <%= image_tag @user.get_image(300,300), class: "rounded-circle" %>
      </div>

<h2 class="mb-5" id="room" data-room="<%= @room.id %>" data-user="<%= current_user.id %>">
  <%= @user.nickname %>さんとのメッセージ
</h2>

<div class="message" style="width: 400px;">
  <% @chats.each do |chat| %>
    <% if chat.user_id == current_user.id %>
      <p style="text-align: right;">
        <%= chat.message %>
      </p>
    <% else %>
      <p style="text-align: left;"><%= chat.message %></p>
    <% end %>
  <% end %>
</div>

<div class="errors">
  <%= render "layouts/error_messages", model: @chat %>
</div>

<%= form_with model: @chat, data:{remote: true} do |f| %>
  <%= f.text_field :message, :size => "40", placeholder: "やりとりをしてみましょう"  %>
  <%= f.hidden_field :room_id %>
  <%= f.submit '送信',class: "btn btn-primary"  %>
<% end %>

    </div>
  </div>
</div>