<%= render 'homes/carousel' %>

<div class="container">
  <div class="row">
    <div class="col-md-9 mt-5 mb-5">
      <h4>迷子・保護　発生マップ</h4>
      <div id='map'></div>
    </div>
    <div class="col-md-3 mt-5 d-flex align-items-center">
      <p>こちらのページの地図は、現在までに投稿された迷子や保護されたペットの分布図です。<br>
      地図上のピンをクリックしていただくと、詳細ページへ移動します。<br>
      お近くに住まわれている方でお心当たりのある方は<br>
      ぜひこちらのサイトに情報をお寄せください。</p>
    </div>
    <div class="col-md-12">
      <h4>新着記事（3件）</h4>
      <%= render 'articles/article_outline', articles: @articles %>
    </div>
  </div>
</div>


<style>
#map {
  height: 600px;
  width: 90%;
}
</style>

<!-- js部分 -->
<script>
    function initMap() {

      //初期表示位置
      let latlng = new google.maps.LatLng(38.60, 139.5);
      //デザイン
      let styles = [
           {
            stylers: [
             { "saturation": 0 },
             { "lightness": 0 }
            ]
           }
          ];

      let map = new google.maps.Map(document.getElementById('map'), {
          zoom: 5.5,
          styles: styles,
          center: latlng
      });
      let transitLayer = new google.maps.TransitLayer();
      transitLayer.setMap(map);

      //複数マーカー ここから
      <% @map_articles.each do |article|%>
        ( function() {
          let markerLatLng = new google.maps.LatLng({lat: <%= article.lat %>, lng: <%= article.lng %>}); // 緯度経度のデータ作成
          let marker = new google.maps.Marker({
            position: markerLatLng,
            map: map
          });
    　　　//マーカーをクリックしたとき、詳細情報を表示
          let infowindow = new google.maps.InfoWindow({
            position: markerLatLng,
            content: "<a href='<%= article_url(article.id) %>' target='_blank'><%= article.status_i18n %><br><%= article.title %><br><%= article.introduction %></a>"
          }); //ここで詳細ページへのリンクを表示させる
          marker.addListener('click', function() {
            infowindow.open(map, marker);
          });

       })();
      <% end %>
      //複数マーカー ここまで
  }
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap" async defer></script>
