<%= render 'searches/search_form', q: @q %>
<% if @q.title_or_introduction_or_animal_breed_or_place_or_animal_type_cont != nil %>
  <h3 class="subtitle"><%= "#{@q.title_or_introduction_or_animal_breed_or_place_or_animal_type_cont} の検索結果" %></h3>
<% else %>
  <h3 class="subtitle"><%= "検索結果" %></h3>
<% end %>
<%= render partial: "articles/article_outline", collection: @search_articles, locals: {articles: @search_articles} %>

<%= paginate @search_articles %>