<header>

  <div class="navigation">
    <ul>
      <%= link_to root_path do %>
        <%= image_tag 'logo.png', size: '300x100' %>
      <% end %>


      <% if user_signed_in? %>
        ようこそ、<%= current_user.name %>さん！
      <% end %>
    </ul>

    <ul>
      <% if user_signed_in? %>
      <li class="button">
        <p><a href="#"><%= link_to "マイページ", user_path(current_user.id) %></a></p>
      </li>
      <li class="button">
        <p><a href="#"><%= link_to "掲示板", articles_path %></a></p>
      </li>
      <li class="button">
        <p><a href="#"><%= link_to "保護施設", users_path %></a></p>
      </li>
      <li class="button">
        <p><a href="#"><%= link_to '新規投稿', new_article_path %></a></p>
      </li>
      <li class="button">
        <p><a href="#"><%= link_to "会員情報編集", edit_user_registration_path(current_user.id) %></a></p>
      </li>
      <li class="button">
        <p><a href="#"><%= link_to "いいね", article_favorites_path(current_user.id) %></a></p>
      </li>
      <li class="button">
        <%= link_to "フォロー", user_followings_path(current_user.id) %></a></p>
      </li>
      <li class="button">
        <p><a href="#"><%= link_to "DM", chats_path %></a></p>
      </li>
      <% if unchecked_notifications.any? %>
        <i class="fas fa-bell" style="color: gold;"></i>
      <% end %>
      <li class="button">
        <p><a href="#"><%= link_to "通知", notifications_path %></a></p>
      </li>
      <li class="button">
        <p><a href="#"><%= link_to "ログアウト", destroy_user_session_path, method: :delete, data: { confirm: 'ログアウトしますか？' } %></a></p>
      </li>

          <% else %>

      <li class="button">
        <p><a href="#"><%= link_to "掲示板", articles_path %></a></p>
      </li>
      <li class="button">
        <p><a href="#"><%= link_to "保護施設", users_path %></a></p>
      </li>
      <li class="button">
        <p><a href="#"><%= link_to "About", about_path %></a></p>
      </li>
      <li class="button">
        <p><a href="#"><%= link_to "新規登録", new_user_registration_path %></a></p>
      </li>
      <li class="button">
        <p><a href="#"><%= link_to "ログイン", new_user_session_path %></a></p>
      </li>
      <% end %>
    </ul>

  </div>
  <div class="right">
    <%= search_form_for @q, url: searches_search_path, class: "search-form" do |f| %>
    <%= f.search_field :title_or_introduction_or_animal_breed_or_place_or_animal_type_cont, placeholder: 'キーワードから探す' %>
      <%= f.button type: "submit" do %>
        <i class="fas fa-search"></i>
      <% end %>
    <% end %>
  </div>
  
  
  
</header>
