<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-white">


    <div class="container">
      <a class="navbar-brand p-3" href="/"><%= image_tag 'logo.png', size: '300x100' %></a>


    <div class="header-name text-dark">
      <% if user_signed_in? %>
        ようこそ、<%= current_user.name %>さん！
      <% end %>
    </div>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>


      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">

          <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to "マイページ", user_path(current_user.id), class: 'nav-link text-dark' %>
          </li>
          <li class="nav-item">
            <%= link_to "迷子・保護・里親募集一覧", articles_path, class: 'nav-link text-dark' %>
          </li>
          <li class="nav-item">
            <%= link_to '新規投稿フォーム', new_article_path, class: 'nav-link text-dark' %>
          </li>
          <li class="nav-item">
            <%= link_to "会員情報変更", edit_user_registration_path(current_user.id), class: 'nav-link text-dark' %>
          </li>
          <li class="nav-item">
            <%= link_to "いいねした投稿", article_favorites_path(current_user.id), class: 'nav-link text-dark' %>
          </li>
          <li class="nav-item">
            <%= link_to "DM一覧", chats_path, class: 'nav-link text-dark' %>
          </li>
          <% if unchecked_notifications.any? %>
          <i class="fas fa-bell" style="color: gold;"></i>
          <% end %>
          <li class="nav-item">
            <%= link_to "通知一覧", notifications_path, class: 'nav-link text-dark' %>
          </li>
          <li class="nav-item">
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'nav-link text-dark' %>
          </li>

          <% else %>

          <li class="nav-item">
            <%= link_to "迷子・保護・里親募集一覧", articles_path, class: 'nav-link text-dark' %>
          </li>
          <li class="nav-item">
            <%= link_to "保護施設一覧", users_path, class: 'nav-link text-dark' %>
          </li>
          <li class="nav-item">
            <%= link_to "About", about_path, class: 'nav-link text-dark' %>
          </li>
          <li class="nav-item">
            <%= link_to "新規登録", new_user_registration_path, class: 'nav-link text-dark' %>
          </li>
          <li class="nav-item">
            <%= link_to "ログイン", new_user_session_path, class: 'nav-link text-dark' %>
          </li>
          <% end %>
        </ul>
      </div>

  <%= search_form_for @q, url: searches_search_path, class: "search-form" do |f| %>
  <%= f.search_field :title_or_introduction_or_animal_breed_or_place_or_animal_type_cont, placeholder: 'キーワードから探す' %>
  <%= f.collection_select :prefecture_eq, JpPrefecture::Prefecture.all, :name, :name, { include_blank: '対象地域' } %>
    <!--都道府県のセレクトボックスなので_eqで完全一致する-->
  <%= f.select :animal_sex_eq, Article.animal_sexes_i18n.invert.map{|key, value| [key, Article.animal_sexes[value]]}, { include_blank: t('性別') } %>
    <!--性別のセレクトボックスなので_eqで完全一致、enumなのでハッシュ型で探す-->
  <%= f.select :animal_type_eq, [['犬', '犬'], ['猫', '猫'], ['爬虫類', '爬虫類'],['不明','不明']] %>
    <%= f.button type: "submit" do %>
      <i class="fas fa-search"></i>
    <% end %>
  <% end %>

    </div>
  </nav>
</header>
